/* sizing container start */
.container-hero{
    margin-bottom: 12rem;
}
.container-fuel-system {
  margin-bottom: 10rem;
}
.container-feature {
  margin-bottom: 10rem;
}
.container-usage-fuel {
  margin-bottom: 10rem;
}
/* sizing container end */

/* navbar css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 12rem;
  margin-top: 0;
}

nav,
.navbar {
  padding: 24px 80px;
  box-shadow: 0 25px 25px rgba(35, 35, 35, 0.04);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.navbar-brand {
  padding-left: 2rem;
}

.navbar-brand img {
  max-height: 90px;
}

.navbar-nav {
  flex-grow: 1;
  justify-content: center;
}

.nav-item {
  margin: 0 0.5rem;
  font-weight: bold;
  color: #141B2A;
  position: relative;
}

.nav-link {
  color: #141B2A;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: #135155;
}

.btn-custom {
  background-color: #2E8C93;
  color: white;
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 500;
  padding: 12px 18px;
}

.btn-custom:hover {
  background-color: #247278;
  color: white;
}

/* Dropdown specific styles */
.dropdown-menu-custom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 800px;
  background-color:rgba(17, 111, 117, 0.9);
  border-radius: 16px;
  padding: 24px;
  border: none;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  display: none;
}

.dropdown-menu-custom.show {
  display: flex;
}

.dropdown-column {
  flex: 1;
  padding: 0 20px;
}

.dropdown-header {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 12px 0;
  margin-bottom: 16px;
  padding: 1rem;
  width: 350px;
  height: 60px;
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-item {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 0;
  background: transparent;
  transition: color 0.2s ease, padding-left 0.3s ease-out; 
}

.dropdown-item:hover {
  color: #F7F7F7;
  background: transparent;
  padding-left: 7px;
}
/* Active state for Product nav-item */
.nav-item.dropdown .nav-link.active {
  color: #2E8C93;
  background-color: rgba(46, 140, 147, 0.1);
  border-radius: 4px;
}
/* Dropdown Login */
#dropdownMenuLink {
  background-color: #2E8C93;
  padding: 12px 60px; 
  color: white;
  border: none;
  outline: none;
}

.login-dropdown .dropdown-menu {
  background-color:#2E8C93;
  color: white;
  padding: 1rem;
}
.dropdown-toggle-login::after {
  display: none;
}
  /* navbar css end */

  /* hero section start */
  .hero-label {
    font-size: 50px;
    font-family: 'poppins';
    font-weight: bold;
    color: #000;
    line-height: 1.4;
    margin: 1.5rem 0;
  }
    .hero-text {
        font-size: 16px;
        font-family: 'poppins';
        font-weight: normal;
        color: #5D5D5D;
        line-height: 1.6;
        margin: 1.5rem 0;
    }
    .card-hero {
      width: 1248px; /* Sesuaikan ukuran */
      height: 539px; /* Sesuaikan ukuran */
      background-image: url('../public/fuel-system/rectangle.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative; /* Untuk menempatkan elemen di atas background */
      display: flex; /* Jika ingin teks dan ikon tersusun rapi */
      align-items: center; 
      justify-content: center;
      color: white; 
      border: none;
      outline: none;
  }
    
  /* hero section end */

  /* why use fuel system start */  
  .number-circle {
    width: 50px;
    height: 50px;
    border: 3px solid rgba(36, 39, 59, 0.16);
    background: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .line {
    height: 1px; /* Ketebalan garis */
    background-color: #DDDDDD; /* Warna garis */
    width: 100%; /* Panjang garis */
    margin: 20px 0; /* Spasi di sekitar garis (opsional) */
}
  /* why use fuel system end */

    /* simonro feature section start */
    .feature-text {
        font-size: 16px; 
        font-family: 'poppins'; 
        color: #000; /* Warna teks */
        line-height: 1.4; /* Spasi antar baris */
     /* Ubah kapitalisasi teks */
        margin: 1.5rem 0; /* Atur jarak atas dan bawah */
    }
    .card-feature {
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      color: #000;
      line-height: 1.4;
      margin: 1.5rem 0;
      box-shadow: 23px 26px 137px -42px rgba(0, 0, 0, 0.17);
      border: none;
      outline: none;
      border-radius: 16px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card-feature:hover {
      transform: translateY(-10px);
      box-shadow: 23px 50px 137px -42px rgba(0, 0, 0, 0.35);
  }
    /* .card-title {
        font-weight: bold;
    } */
    /* .card-text {
        color: #5D5D5D;
    } */
    .fuel-system-label {
        font-size: 40px;
        font-family: 'poppins';
        font-weight: bold;
        color: #000;
    
    }
    .fuel-system-list {
      margin-top: 3rem;
    }
    .fuel-system-text {
        font-size: 16px;
        font-family: 'poppins';
        font-weight: normal;
        color: #5D5D5D;
        line-height: 1.6;
    }
  /* simonro feature section end */

  /* usage fuel system start */
  .card-usage {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 23px 26px 137px -42px rgba(0, 0, 0, 0.17);
    border: none;
    outline: none;
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card-usage:hover {
    transform: translateY(-10px);
    box-shadow: 23px 50px 137px -42px rgba(0, 0, 0, 0.35);
  }
.usage-text {
    font-size: 16px; 
    font-family: 'poppins'; 
    color: #24273B; /* Warna teks */
    line-height: 1.4; /* Spasi antar baris */
 /* Ubah kapitalisasi teks */
    margin: 1.5rem 0; /* Atur jarak atas dan bawah */
}
.number-text-container {
    display: flex;
    align-items: center; /* Vertikal rata tengah */
    gap: 10px; /* Jarak antara angka dan teks */
  }
.number-rectangle {
    width: 57px;
    height: 80px;
    border-top-left-radius: 12px;
    background: #3B3B3B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;  
  }
.text-rectangle {
    color: #fff;
    padding: 1rem;
    width: 350px;
    height: 80px;
    border-top-right-radius: 12px;
    background: #A9F02E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: normal;  
  }
  .img-usage-fuel{
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  /* usage fuel system end */

  .card-interest {
    font-size: 16px; 
    font-family: 'poppins'; 
    color: #000; 
    line-height: 1.4; 
    margin: 1.5rem 0; 
    background-color: #F2F2F2;
    border: none; 
    outline: none;
    border-radius: 16px;
    height: 400px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.card-body-interest {
  margin-top: 5rem;
}
.container-interest {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.card-interest-title {
  font-size: 25px;
  font-family: 'poppins';
  font-weight: bold;
}

  
  /* footer section start */
.card-footer {
  padding: 2rem;
  font-size: 16px;
  font-family: 'Poppins';
  color: #fff;
  background-image: url('../public/footer.png');
  background-size: cover;
  background-position: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.call-center {
  text-align: right;
}

.call-center-text {
  font-size: 22px;
  font-family: 'Poppins';
  color: #fff;
}


.footer-circle-check {
  width: 25px;
  height: 25px;
  background-color: #00D47E;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-check-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins';
}
/* footer section end */

@media (max-width: 768px) {
  .container-brigde {
    margin-bottom: 5rem;
  }
  .hero-label {
    font-size: 24px; 
  }
  .automation-jembatan-hero img {
    max-width: 100%; /* Gambar tidak akan melebihi lebar container */
    height: 100px; /* Menjaga proporsi gambar */
    display: block; 
    margin: 20px auto; 
  }
  .automation-bridge-label {
    font-size: 24px; 
    font-family: 'poppins'; 
    line-height: 1.4; 
    margin: 1.5rem 0; 
    font-weight: bold;
  }
  .bridge-img img {
    max-width: 100%; /* Gambar tidak akan melebihi lebar container */
    height: 100%; /* Menjaga proporsi gambar */
  }
  .navbar-brand {
    padding-left: 10px;
  }
  .navbar-brand img {
    max-height: 50px;
  }
  .footer-content {
    flex-direction: column; /* Elemen berada dalam satu kolom */
    text-align: center; /* Pusatkan teks */
  }

  .call-center {
    text-align: center; /* Agar selaras di layar kecil */
    margin-top: 25px;
    margin-left: 5rem;
  }

  .footer-check-container {
    flex-direction: column; /* Elemen dalam satu kolom */
    gap: 5px; /* Kurangi jarak antar elemen */
  }
  .card-interest .row {
    flex-direction: column;
}

.card-body-interest {
  margin-top: 2rem;
}

.card-interest .col-4,
.card-interest .col-8 {
    width: 100%;
}
.fuel-system-label {
  font-size: 24px;
}
.card-usage {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
}