/* navbar css */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  body {
    padding-top: 12rem;
    margin-top: 0;
  }
  nav,
  .navbar {
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 25px 25px rgba(35, 35, 35, 0.04);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 600;
    display: flex;
    padding: 24px 80px;
    width: 100%;
  }
  .navbar-brand {
    padding-left: 2rem;
  }
  .navbar-nav {
    flex-grow: 1;
    justify-content: center;
  }
  .nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .navbar-brand img {
    max-height: 90px;
  }
  .btn-primary {
    margin-right: 2rem;
  }
  .btn-custom {
    margin-right: 1rem;
    background-color: #2E8C93;
    color: white;
    border: none;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
    min-width: 53px;
  }
  .btn-custom:hover {
    background-color: #0f4141;
    color: white;
  }
  
  .navbar-nav,
  .nav-item {
    font-weight: bold;
    color: #135155;
  }
  .dropdown-menu {
    padding: 8px;
    gap: 10px;
  }
  .dropdown-menu,
  .dropdown-item {
    color: #4a606b;
    font-family: 'poppins';
    font-size: 16px;
    font-weight: normal;
  }
  /* navbar css end */

  /* client section start */
  .client-text {
    font-family: 'poppins';  
    color:  #24273B; 
    font-size: 16px; 
  }
  .card-client {
    background: #f8f9fa;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    position: relative;
    border: none; 
    outline: none;
    border-radius: 16px;
  }
  .card-client-pp {
    background: #ffff;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    position: relative;
    border: none; 
    outline: none;
    border-radius: 16px;
    box-shadow: -1px 31px 146px -65px rgba(0,0,0,0.51);
  }
  .client-list .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

  /* client section end */

  /* featured product section start */
  .container-featured-product {
    /* background-color: #F2F4F3; */
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 1920px;
    height: 500px;
  }
  .featured-product-text {
    font-family: 'poppins';  
    color:  #24273B; 
    font-size: 16px; 
  }
  .card-featured-product {
    background: #F2F4F3 ;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border: none; 
    outline: none;
    border-radius: 16px;
  }
  .button-circle {
    width: 50px;
    height: 50px;
    background-color: #2E8C93;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Menambahkan efek bayangan */
    border: 3px solid rgba(88, 160, 163, 0.3); /* Warna lingkaran luar transparan */
    position: relative;
    cursor: pointer;
  }
  
  .button-circle:hover {
    background-color: #4d9195; /* Warna saat hover */
    transition: background-color 0.3s ease;
  }
  
  .btn-product {
    display: flex;
    gap:10rem;
    justify-content: center;
    align-items: center;
  }
  /* featured product section end */

  /* featured civil product section start */
  .container-featured-product {
    /* background-color: #F2F4F3; */
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 1920px;
    height: 500px;
  }
  .featured-product-text {
    font-family: 'poppins';  
    color:  #24273B; 
    font-size: 16px; 
  }
  .card-civil-product {
    background: #F2F4F3 ;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border: none; 
    outline: none;
    border-radius: 16px;
  }
  .glassmorphic-text {
    position: absolute;
    font-size: 16px;
    font-family: 'poppins';
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 90%; /* Lebar diperbesar */
    max-width: 95%; /* Agar tidak terlalu mepet */
}

  /* featured civil product section end */

/* product section start */
.container-product {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'poppins';
}

.container-product h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card-product {
  background: #f8f9fa;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: none; 
  outline: none;
  border-radius: 16px;
}

.number-circle {
  width: 50px;
  height: 50px;
  background: #FFD700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center; 
  padding: 1rem;
}

.card-body h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
}

.card-body > p {
  text-align: center;
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.img-product {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 2rem auto; 
  max-width: 900px;
}

.img-product img {
  max-width: 100%;
  height: auto;
}

.card-text {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.card-text h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 1rem;
  font-weight: bold;
}

.card-text p {
  color: #666;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}
.btn-card-custom {  
  font-family: 'poppins';
  padding: 10px;  
  text-align: center;   
  color:  #2E8C93; 
  background-color: rgba(46, 140, 147, 0.08); 
  border: 3px solid #2E8C93;
  border-radius: 10px; 
}
.btn-card-custom:hover {
  border: 3px solid #2E8C93;
  color:  #2E8C93;
  background-color: rgba(46, 140, 147, 0.2); 
}
/* product section end */
  

  /* footer section start */
  .card-footer {
    padding: 2rem;
    font-size: 16px;
    font-family: 'Poppins';
    color: #fff;
    background-image: url('../public/footer.png');
    background-size: cover;
    background-position: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.5rem;
  }
  
  .call-center {
    text-align: right;
  }
  
  .footer-circle-check {
    width: 25px;
    height: 25px;
    background-color: #00D47E;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
  }
  
  .footer-check-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins';
  }
  /* footer section end */